* {
    margin: 0px;
    padding: 0vh;
}

body {
    background-image: linear-gradient(greenyellow,green,greenyellow);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

body #navbar {
    height: 100px;
    border: black solid 4px;
    background-color: chartreuse;
}

body #navbar ol {
    list-style: none;
    display: flex;
    font-size: 25px;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
}

body #navbar ol a {
    text-decoration: none;
    padding: 5px;
    margin: 50px 50px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: rgb(193, 250, 107);
}

body #navbar ol a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}

body #navbar ol a:active {
    background-color: rgb(118, 118, 118);
}

.endpoint {
    width: 110px;
    height: 110px;
    display: flex;
    color: white;
    margin-top: 140px;
    margin-left: 500px;
    text-align: center;
    cursor: default;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.boxplay {
    width: 100px;
    height: 100px;
    padding: 4px;
    display: flex;
    margin: 2px 2px;
    text-align: center;
    cursor: default;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    animation-name: Game3;
    animation-delay: 1s;
    position: relative;
    animation-duration: 15s;
    animation-iteration-count: 1;
    background-color: rgb(138, 248, 98);
}



@keyframes Game3 {
    0% {
        top: 0px;
        left: 0px;
    }

    10% {
        top: 300px;
        left: 0px;
    }

    20% {
        top: 300px;
        left: 40px;
    }

    30% {
        top: 0px;
        left: 40px;
    }

    50% {
        top: 0px;
        left: 500px;
    }

    60% {
        top: 100px;
        left: 500px;
    }

    70% {
        top: 100px;
        left: 700px;
    }

    80% {
        top: 250px;
        left: 700px;
    }

    90% {
        top: 100px;
        left: 700px;
    }

    100% {
        top: 250px;
        left: 500px;
    }

}