*{
    margin: 0%;
    padding:0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
}
.formrealpart{
    background-color: rgb(168, 168, 168);
    width: 314px;
    height: 320px;
    margin-top: -5px;
    padding: 20px 10px;
}
.formrealpart div{
    margin-top: 10px;
}
.input{
    width: 298px;
    height: 26px;
    border-radius: 5px;
    background-color: aquamarine;
}
.signupin{
    background-color: aquamarine;
    width: 334px;
    height: 43px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:9px;
}
.introduction, .bottom{
    text-align: center;
}

.bottomsignup{
    background-color:aqua;
    height: 35px;
    color: rgb(255, 255, 255);
    width: 88px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
}
.bottom{
    border-radius: 9px;
    background-color: rgb(168, 168, 168);
    margin-top: -8px;
    height: 85px;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background-color: rgb(168, 168, 168);
    content: 'HAMIZUSE';
    padding: 0 10px;
    font-weight: bolder;
    position: relative;
    top: -13px;
}
.submitparttwo input{
    padding: 5px;
    margin-top: 10px;
    background: #00efff;
    border-radius: 7px;
    width: 250px;
    border: none;

}










